body{
    background-color: cyan;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
footer{
    background-color: blanchedalmond;
    text-align: center;
}
form{
    background-color: blueviolet;
    
}



