body{
    background-color: cyan;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
footer{
    background-color: blanchedalmond;
    text-align: center;
}
form{
    
    background-color: blueviolet;
    
    
    
}
button{
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    background-color: red;
}
label{
    color: rgb(255, 255, 255);
}
.cpdm{
    display: grid;
    justify-items: center;
    grid-template-columns: auto auto;
}
.checkboxes{
    display: grid;
    justify-items: center;
    grid-template-columns: auto auto auto auto;

}





