body{
    background-color: cyan;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
footer{
    background-color: blanchedalmond;
    text-align: center;
}
form{
    background-color: blueviolet;
    
}
button{
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    background-color: red;
}



